*, *:before, *:after{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

body{
	margin: 0;
	color: #4B0082;
	font-family: 'Exo 2', sans-serif;
	font-size: 20px;
	background: #f4f4f4;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
}

a{
  list-style: none;
  text-decoration: none;
}


.page{
	overflow: hidden;
}

.container{
	width: 100%
	max-width: 1200px;
	padding: 0 140px;
	margin: 0 auto;
}

.header-page{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: rgb(0, 0, 7, 0.7);
	z-index: 2;
	padding: 20px 0;
}

.header-page__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.logo{
display: flex;
}

.logo-images img{
	width: 40px; 
	height: 40px;
	cursor: pointer;
	border-radius: 10px;
	transition: 0.5s linear;
	margin-top: 10px;
}

.logo-images img:hover{
	box-shadow: inset 0 0 2px 9px #fbdd84, 0 0 6px 2px #fbdd84;
	transition: 0.3s linear;
}

.header-page__end{
	display: flex;
	align-items: center;
}

.header-page__ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.header-page__li{
	font-weight: bold;
}

.header-page__link{
	text-decoration: none;
	color: #ff8f77;
	margin: 0 20px;
	position: relative;
	transition: 0.4s linear;
	font-size: 20px;
}

.header-page__link:hover{
	color: #fbdd84;
	transition: 0.2s linear;
}

.header-page__link:after{
	content: "";
	display: block;
	width: 100%;
	height: 3px;
	background-color: #4B0082;
	position: absolute;
	top:100%;
	left: 0;
	opacity: 0;
	z-index: 1;
	transition: opacity 0.1s linear;
}

.header-page__link:hover:after{
	opacity: 1;
}

.phone-item{
	color: #ff8f77;
	position: relative;
	list-style: none;
	text-decoration: none;
	transition: 0.4s linear;
}

.phone-text{
	font-size: 16px;
	font-weight: bold;
}

.phone-subtext{
	font-size: 12px;
	font-weight: bold;
}

.phone-item:hover{
	color: #4B0082;
	transition: 0.2s linear;
}

/*------------------------------------------*/

.section-top{
	display: inline-block;
	width: 100%;
	height: 100vh;
	background: url(../img/banner.png) center no-repeat;
	background-size: cover;
	text-align: center;
/*	position: relative;*/
}

.section-top:before{
	content: "";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background: rgb(240, 248, 255); 
}

.section-top__container{
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.section-top__title{
	color: #492151;
	text-shadow: 1px 1px 0 #bfbfbf, 3px 2px 0 #9f9f9f;
	font-size: 5em;
	font-weight: bold;
}

.section-top__subtitle{
	font-size: 1.8em;
	color: #fff;
	font-weight: bold;
	text-shadow: 1px 1px 0 #bfbfbf;
	padding-top: 20px;
}

.section-down__container{
	width: 100%;
	background: rgb(255, 143, 119);
	position: absolute;
	bottom: 0;
}

.basis__inner{
	display: flex;
	justify-content: space-around;
}

.basis_item{
	width: 50%;
	padding: 20px 0;
	font-size: 25px;
	color: #fff;
	letter-spacing: 0.1em;
	display: flex;
	justify-content: center;
}

.basis_item b{
	color: #ffcf40;
}

.basis_item:nth-child(2){
	border-left: 3px solid #dfdfdf;
	border-right: 3px solid #dfdfdf;
}

.section{
	padding-top: 60px;
}

.section-bg{
	background: #778899;
}

.section-header{
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 40px;
}

.section-content{
	margin: 0 auto;
}

.section-content__text{
	text-align: justify;
}

.content__text{
	text-indent: 15px;
	margin-bottom: 10px;
}

.section-content__images{
	margin: 30px 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-around;
}

.content__images img{
	box-shadow: 2px 2px 6px  #000;
	transition: transform 0.4s linear;
}

.content__images img:hover{
	cursor: pointer;
	transition: transform 0.3s linear;
	transform: scale(1.2);
	box-shadow: 0 0 0 4px #ffdf80;
}

.section-content__down{
	width: 100%;
	padding: 0 140px;
	background: rgb(47, 79, 79);
}

.content__down-inner{
	display: flex;
	width: 100%;
	padding: 0;
	justify-content: space-between;

}

.content__down-item{
	flex: 1 1 0;
	padding: 15px 5px;
	text-align: center;
	font-size: 18px;
	color: #fff;
}

.content__down-item p{
	margin-top: 10px;
}

.content__down-item:nth-child(2){
	border-left: 4px solid #efefef;
	border-right: 4px solid #efefef;
}

.content__down-item:nth-child(3){
	border-right: 4px solid #efefef;
}

.content__images-title{
	text-align: center;
	font-size: 30px;
	font-weight: 500;
	padding: 10px 0;
}

.content__images-brend-items{
	margin: 20px 0;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.content__images-brend img{
	width: 200px;
	height: 100px;
	background: #fff;
	padding: 20px;
	border-radius: 25px;
	transition: transform 0.4s linear;
}

.content__images-brend img:hover{
	cursor: pointer;
	transition: transform 0.3s linear;
	transform: scale(1.2);
	box-shadow: 0 0 0 4px #ffdf80;
}

.section-contact{
	display: flex;
	padding-bottom: 50px;
}

.section-contact__map{
	text-shadow: none;
}

.contact-item{
	width: 50%;
	margin: 20px; 
}

.contact-item__text{
	background-color: #efefefcc;
	border: 6px solid #bbb;
	border-radius: 10px; 
	padding: 20px 10px;
	max-height: 360px;
}

.section-contact__title{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding-bottom: 20px;
}

.section-contact__doptext{
	font-weight: bold;
}

.footer-page{
	position: relative;
	width: 100%;
	background: #778899;
	padding: 20px 0;
}

.footer-page__container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.footer-page__menu{
	display: flex;
	align-items: center;
}

.footer-copyrating{
	text-align: center;
}

.footer-page__ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

.footer-page__li{
	font-weight: 600;
}

.footer-page__link{
	margin: 0 20px; 
	color: #fff;
	text-decoration: none;
	display: block;
	transition: .5s linear;
	position: relative;
}

.footer-page__link:hover{
	color: #fce38a;
	transition: 0.1s linear;

}

.socseti{
	margin: 0 10px; 
	color: #fff;
	text-decoration: none;
	transition: .5s linear;
}

.socseti:hover{
	color: #fbdd84;
	transition: 0.1s linear;

}

.footer-copyrating{
	padding-top: 10px;
	font-weight: bold; 
	color: #fff;
}

/**/
.section-cart a{
	color: #fff;
}

.section-cart a:hover{
	color: #fbdd84;
}

.popup {
  position: fixed;
  z-index: 10;
  margin-top: 80px; 
  top: 0;
  left: 0;
  background: rgba(0,0,0,.7);
  width: 100%;
  height: 100%;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
}

.popup.is-active{
	pointer-events: auto;
	opacity: 1;
	visibility: visible;
}

.popup__wrapper{
	display: table;
	width: 100%;
	height: 100%;
}

.popup__inner{
	display: table-cell;
	vertical-align: middle;
	padding: 10px 0;
/*	padding-top: 40px;*/
}

.popup__content{
	background: #A9A9A9;
	padding: 60px 20px;
	max-width: 430px;
	margin: 0 auto;
	position: relative;
	border-radius: 20px;
}

.menu__btn-close{
	position: relative;
	border: none;
	cursor: pointer;
	background: none;
	width: 40px;
	height: 40px;
	display: inline-block;
	padding-bottom: 10px;
	transition: transform 0.2s, opacity(0.2s);
}


.menu__btn-close:hover{
transform: scale(1.1);
}

.menu__btn-close:active{
transform: scale(0.9);
opacity: 0.8;
}

.menu__btn-close:before,
.menu__btn-close:after{
	content: "";
	background: #fff;
	height: 40px;
	width: 4px;
	position: absolute;
	border-radius: 10px;
	top: 50%;
	transform: translateY(-20px);
}

.menu__btn-close:before{
		transform: translateY(-20px) rotate(45deg);
}

.menu__btn-close:after{
		transform: translateY(-20px) rotate(-45deg);
}

.popup-menu__btn-close{
	position: absolute;
	top: 20px;
	right: 20px;
}

/**/

/* Для JS*/
.no-scroll{
	overflow: hidden
}

.header-page.is-active{
	padding-top: 5px;
	padding-bottom: 10px;
}
/* /Для JS */